.header{
    position: fixed;
    background: #333;
	color: white;
	height: 80px;
	width: 100%;
	left: 0;
	top: 0;
    box-shadow: 0px 3px 5px azure;
}

.logoCat {
    float: left;
    width: 75px;
    height: 75px;
    margin-left: 25px;
  }

.titleCat{
    height: 45px;
    margin-left: 110px;
    width: 50%;
    margin-top: 15px;
}