body{
    background-image: url('../../img/espacio.jpg');
}
.form{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 7vh;
    font-family: sans-serif;
    font-size: x-large;
}

.miniTitle{
    font-size: larger;
}

.borderBox{
    border-radius: 15px 15px;
    padding: 5px;
    font-size: x-large;
}

.loginRow{
    margin: 1.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonLogin{
    text-align: center;
    text-decoration: none;
    border-radius: 5px 5px;
    box-shadow: 1px 1px 2px black;
    font-size: unset;
    background-color: #8ab2ff;
    border-style: none;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    color: lightyellow;
    width: 50%;
}

.buttonRegister{
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 5px 5px;
    box-shadow: 1px 1px 2px black;
    background-color: #60cf58;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    width: 50%;
    flex-direction: column;
}

.forgotPassword {
    margin-top: 5px;
    font-size: large;
    margin-top: 2vh;
}

.titleIS{
    font-family: sans-serif;
    text-align: center;
    margin-top: 20vh;
    font-size: 5vh;
}

.buttonLogin:hover {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
    background-color: rgb(101, 101, 255);
}

.buttonRegister:hover {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
    background-color: rgb(101, 101, 255);
}