.myfooter {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
}
#main-footer p {
    margin: 0;
}

#main-footer a {
    color: white;
}