body{
    background-image: url('../../img/espacio.jpg');
}
.form{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 7vh;
    font-family: sans-serif;
    font-size: x-large;
    margin-bottom: 12vh;
}

.miniTitle{
    font-size: larger;
}

.borderBox{
    border-radius: 15px 15px;
    padding: 5px;
    font-size: x-large;
}

.loginRow{
    margin: 1.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginRowBotton{
    margin: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgotPassword {
    margin-top: 5px;
    font-size: large;
    margin-top: 2vh;
}

.titleIS{
    font-family: sans-serif;
    text-align: center;
    margin-top: 20vh;
    font-size: 5vh;
}
